@model Wbod.Models.DB.Directorship
@{
    ViewData["Title"] = "Attach Director To New Company";
}

<div class="bd-example">
Add @ViewBag.DirectorName as a director for @ViewBag.CompanyName
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="AttachDirectorToNewCompany" method="post">            
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Cdp1"></label>
                    <select asp-for="Cdp1" asp-items="ViewBag.Currentdirpositionone" class="form-control"></select>
                    <span asp-validation-for="Cdp1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Cdp2"></label>
                    <select asp-for="Cdp2" asp-items="ViewBag.Currentdirpositiontwo" class="form-control"></select>
                    <span asp-validation-for="Cdp2" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Daudit"></label>
                    <select asp-for="Daudit" asp-items="ViewBag.Directoraudit" class="form-control"></select>
                    <span asp-validation-for="Daudit" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Drenum"></label>
                    <select asp-for="Drenum" asp-items="ViewBag.Directorrenum" class="form-control"></select>
                    <span asp-validation-for="Drenum" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Dnom"></label>
                    <select asp-for="Dnom" asp-items="ViewBag.Directornom" class="form-control"></select>
                    <span asp-validation-for="Dnom" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Duration"></label>
                    <input asp-for="Duration" class="form-control">
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>

            <input type="hidden" id="DirectorId" value="@ViewBag.DirectorId" name="Directorid" />
            <input type="hidden" id="SessionId" value="@ViewBag.SessionId" name="SessionId" />
            <input type="hidden" id="CompanyId" value="@ViewBag.CompanyId" name="Companyid" />
        </form>
    </div>
</div>

