@model IEnumerable<Wbod.Models.DB.Companies>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Companyname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Isglc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Companysector)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Companytype)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Companylist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Companyboardsize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Companyisactive)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Companyname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isglc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Companysector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Companytype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Companylist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Companyboardsize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Companyisactive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
